%h3 
	= @post.title
	%a{:href => "https://twitter.com/share", :class => "twitter-share-button", "data-url" => "#{@post.title}", "data-via" => "ScruffyFox"}
		Tweet
	%script
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
%h5
	by 
	%a{:href => "https://plus.google.com/117157334811388454619/about?rel=author", :alt => "author"}
		Callum Taylor
	= "on " + @post.date
= raw @post.content
#disqus_thread
:javascript
	var disqus_identifier = "#{@post.url}";
	var disqus_shortname = 'callumtaylorblog'; // required: replace example with your forum shortname
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();