<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
%html
	%head
		%title #{@post.title} - Callum Taylor's Blog
		= stylesheet_link_tag "application"
		= javascript_include_tag "application"
		%link{:rel=>"author", :href=>"https://plus.google.com/117157334811388454619"}
		%link{:rel=>"alternate", :type=>"application/rss+xml", :href=>"http://blog.callumtylor.net/rss", :title=>"RSS Feed"}
		%h1 Callum Taylor
		%meta{:name => "Description", :content => "My name is Callum Taylor and this is my blog on programming and general shizzle"}
		%meta{:name => "keywords", :content => "blog, callum blog, callum, callumtaylor, callum taylor, callum awesome taylor, scruffyfox, @scruffyfox, twitter scruffyfox, x library, android custom, custom android ui, xui, xlib, xutil, awsum sauce, awsumsauce, awsum, ark online, ark online 2011, software, develper, callum, awesome, sauce, nerdgasms, 3 sided cube, cube, sided, ark, tehnerdbox, twitter, @tehnerdbox, android, iphone, c++, cpp, konami, Apature Labs, callum taylor, callum, taylor, scruffy, foxy, web development, incito systems, incito, systems, csharp, php, cs, c sharp, c, ajax, jquery"}
		
		#navigation
			#inside
				%h3 Recent Posts
				%ul
					- @posts.each do |column, value|
						%li 
							%a{:href => "/" + column.url}
								= column.title
		#body
			%div
				= yield
				
:javascript
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-30094016-3']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();